.analytic-metric {
    min-width: 4.75em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
}

.title {
    margin: 0 0 4px 0;
    font-size: 1.25em;
    font-weight: inherit;
}

@media (min-width:576px) {
    .title {
        font-size: 1.5em;
    }
}

.value {
    margin: 0;
    font-size: 1em;
}

@media (min-width:576px) {
    .value {
        font-size: 1.25em;
    }
}