.result {
    margin: 16px 0;
    display: flex;
    align-items: center;
    gap: 5%;
}

.title-container {
    flex: 0 0 45%;
}

.title {
    margin: 0 0 4px 0;
    font-size: inherit;
    font-weight: inherit;
}

.brand {
    margin: 0;
    font-size: 0.875em;
    color: #525252;
}

.calories {
    flex: 1;
    margin: 0;
    font-size: 0.875em;
    white-space: nowrap;
}

@media (min-width:576px) {
    .calories {
        font-size: 1em;
    }
}

.add-btn {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    border: none;
    padding: 6px;
    background: none;
    font-size: inherit;
    fill: #00ad09;
}