.result {
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

.brand {
    margin: 0;
    font-size: 0.875em;
    color: #525252;
}

.calories {
    margin: 0;
}

.add-btn {
    border: none;
    background: none;
    font-size: inherit;
    font-family: inherit;
    color: #00ad09;
}