.result {
    margin: 16px 0;
    display: flex;
    align-items: center;
    gap: 5%;
}

.calories {
    display: none;
    flex: 1;
    margin: 0;
    white-space: nowrap;
}

@media (min-width:576px) {
    .calories {
        display: block;
    }
}

.add-btn {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    border: none;
    padding: 6px;
    background: none;
    font-size: inherit;
    fill: #00ad09;
}