.search {
    font-weight: 300;
}

.search__title {
    margin: 0 0 8px 0;
    font-size: 2em;
    font-weight: inherit;
}

.search__search-container {
    border-radius: 16px;
    padding: 8px 16px;
    box-shadow: 0px 0px 5px -2px #000;
}

.search__bar {
    border: none;
    width: 100%;
    font-size: 1em;
    font-family: inherit;
    font-weight: inherit;
    outline: none;
}

.search__bar::-webkit-search-cancel-button {
    display: none;
}

.search__separator {
    margin: 12px 0;
    height: 1px;
    background: #b3b3b3;
}

.search__result-list {
    margin: 0;
    padding: 0;
    list-style: none;
}