.search {
    margin-bottom: 48px;
    font-weight: 300;
}

.search-container {
    position: relative;
    border-radius: 16px;
    padding: 8px 16px;
    box-shadow: 0px 0px 5px -2px #000;
}

.search-container-results {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form {
    display: flex;
    align-items: center;
    gap: 2%;
}

.input {
    flex: 1;
    margin: 0;
    border: none;
    padding: 0;
    background: none;
    font-size: 1em;
    font-family: inherit;
    font-weight: inherit;
    outline: none;
}

.submit {
    margin: 0;
    border: none;
    padding: 0;
    background: none;
    color: #00ad09;
    font-size: 1em;
    font-family: inherit;
    font-weight: inherit;
}

.results-container {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    border-radius: 0 0 16px 16px;
    box-sizing: border-box;
    width: 100%;
    padding: 0 16px;
    background: #fff;
    box-shadow: 0px 0px 5px -2px #000;
}

.result-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.empty-results {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}