.app {
    position: relative;
    margin: auto;
    box-sizing: border-box;
    max-width: 44rem;
    min-height: 100vh;
    padding: 48px 16px 6.5em;
    font-family: 'Roboto', sans-serif;
}

.transition-enter {
    transform: translateY(16px);
    opacity: 0;
}

.transition-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: transform 1s, opacity 1s;
}